/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*Adding font*/
@font-face {
    font-family: 'League Gothic';
    src: url('leaguegothic-regular-webfont.eot');
    src: url('leaguegothic-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('leaguegothic-regular-webfont.woff') format('woff'),
         url('leaguegothic-regular-webfont.ttf') format('truetype'),
         url('leaguegothic-regular-webfont.svg#league_gothic_italicregular') format('svg');
    font-weight: normal;
    font-style: normal;
}


/*Main Styles*/
body {
	background: url("../img/pattern.png");
	font-family: "League Gothic", sans-serif;
}

h2 {
	color: #d63e4b;
	font-size: 34px;
	border-bottom: 3px solid #cac8c9;
	margin-bottom: 15px;
	text-indent: 10px;
	text-transform: uppercase;
}

h3 {
	color: #8d8c8a;
	font-size: 20px;
	text-transform: uppercase;
	margin-bottom: 5px;
}

#wrapper {
	width: 940px;
	margin: 0 auto;
}


/*Header logo*/
header {
	margin-top: 35px;
}

header:after {
	content: '';
	display: block;
	clear: both;
}

#logo {
	width: 174px;
}

#logo a {
	text-decoration: none;
}

#name, #label {
	display: block;
	text-transform: uppercase;
}

#name {
	font-size: 12px;
	font-family: 'Arial', sans-serif;
	color: #d63e4b;
}

#label {	
	font-size: 45px;
	color: #8d8c8a;
	border-bottom: 4px solid #8d8c8a;
	height: 40px;
	float: left;
}

#logo a:hover  #label {
	border-color: transparent;
}


/*Header-navigation*/
#header-navigation {
	float: right;
	font-size: 20px;
	margin-top: 10px;
}

#header-navigation li {
	display: inline-block;
	text-transform: uppercase;
	margin-left: 2px;
	padding: 0 5px;
}

#header-navigation li:hover ,
#header-navigation .active{
	border-bottom: 2px solid #8d8c8a;
}

#header-navigation li a {
	text-decoration: none;
	color: #cac8c9;
}

#header-navigation .active a,
#header-navigation li:hover a{
	color: #8d8c8a;
}


/*Greeting*/
#greeting {
	margin-top: 90px;
	color: #8d8c8a;
	font-family: 'Arial', sans-serif;
	margin-bottom: 100px;
}

#greeting:after {
	content: ' ';
	display: block;
	clear: both;
}

#hello, #tagline {
	display: block;
	text-align: center;
	font-size: 40px;
}

#hello {
	text-transform: uppercase;
	font-weight: bold;
}

#tagline {
	margin: 0 19%;
}


/*Information about me*/
#info-about-me:after {
	display: block;
	content: ' ';
	clear: both;
	margin-bottom: 90px;
}

.col {
	width: 50%;
	float: left;
}

.col-left > .inner {
	margin-right: 10px;
}

.col-right > .inner {
	margin-left: 10px;
}

.inner img {
	margin-left: 10px;
	float: left;
	padding-right: 15px;
}

#about-me {
	overflow: hidden;
}

.skills {
	margin-left: 10px;
}

#about-me, .list {
	font-family: 'Arial', sans-serif;
	color: #cac8c9;
	font-size: 13px;
}

.list > li{
	padding-left: 3px;
	padding-bottom: 3px;
}

.list li:before {
	content: 'â—';
	margin-right: 4px;
	color: #d63e4b;
}


/*My works*/
#works:after {
	display: block;
	content: ' ';
	clear: both;
	margin-bottom: 65px;
}


/*Works-navigation*/
#works-navigation {
	float: right;
	font-size: 10px;
	margin-top: -32px;
}

#works-navigation li {
	display: inline-block;
	text-transform: uppercase;
	margin-left: 2px;
	padding: 0 3px;
	font-family: 'Arial', sans-serif;
}

#works-navigation li:hover ,
#works-navigation .active-works{
	color: #d63e4b;
}

#works-navigation li a {
	text-decoration: none;
	color: #cac8c9;
}

#works-navigation .active-works a,
#works-navigation li:hover a{
	color: #d63e4b;
}


/*Photos*/
.photos {
	margin-left: -10px;
	margin-right: 10px;
}

.first-col, .second-col, .third-col, .fourth-col {
	width: 25%;
	float: left;
	margin-bottom: 25px;
}

.first-col img, .second-col img, .third-col img, .fourth-col img {
	width: 100%;
	margin-bottom: 10px;
}

.first-col > .inner, .second-col > .inner, .third-col > .inner, .fourth-col > .inner {
	margin: 0 10px;
}

.caption {
	padding-top: 10px;
	text-align: center;
	font-family: 'Arial', sans-serif;
	color: #8d8c8a;
	font-size: 14px;
}

.clear {
	clear: both;
}

/*Contact*/
#contact:after {
	display: block;
	content: ' ';
	clear: both;
	margin-bottom: 40px;
}


/*Say hi online*/
#contact {
	margin: 0 auto;
	width: 100%;
}

#say-hi, #other-info {
	width: 50%;
	float: left;
}

#say-hi > .inner {
	margin-right: 10px;
}

#other-info > .inner {
	margin-left: 10px;
}

#form, #map {
	margin-left: 10px;
}

#map {
	margin-right: 10px;
}

#input-name, #input-email {
	width: 50%;
	float: left;
}

#input-name > .inner {
	margin-right: 10px;
}

#input-email > .inner {
	margin-left: 10px;
}

#form > h3, #map > h3 {
	margin-bottom: 15px;
}

input[type="text"], textarea {
	width: 100%;
	background-color: #e8e8e8;
	border: none;
	box-shadow: -1px 0 0 #8d8c8a, 0 -1px 0 #8d8c8a;
	margin-top: 5px;
}

#form p {
	padding-top: 0px;
	font-family: 'Arial', sans-serif;
	color: #cac8c9;
	font-size: 13px;
}

#input-email {
	margin-bottom: 10px;
}

#message {
	margin-bottom: 17px;
}

input[type="submit"] {
	width: 95px;
	height: 35px;
	background-color: #d63e4b;
	border: none;
	font-family: "League Gothic", sans-serif;
	color: #fff;
	text-transform: uppercase; 
	font-size: 25px;
}


/*Other contact info*/
#img-map, #address-phone-email {
	width: 50%;
	float: left;
}

#img-map > .inner {
	margin-right: 10px;
}

#address-phone-email > .inner {
	margin-left: 20px;
}

#img-map {
    margin-top: 7px;
	margin-left: -10px;
}

#img-map > .inner > img {
	width: 100%;
}

.info {
	font-family: 'Arial', sans-serif;
	color: #8d8c8a;
	font-size: 12px;
	font-weight: bold;
	margin-bottom: 5px;
}

.info-lists {
	font-family: 'Arial', sans-serif;
	color: #cac8c9;
	font-size: 11px;
	margin-bottom: 7px;
	padding-left: 3px;
}

.info-lists > li {
	padding-bottom: 4px;
}

#email > a {
	margin-left: 3px;
	color: #d63e4b;
}


/*Copyright*/
#copyright {
	margin-left: 10px;
	font-family: 'Arial', sans-serif;
	color: #cac8c9;
	font-size: 12px;
	width: 55%;
	float: left;
}

#copyright a {
	color: #d63e4b;
}


/*Socials*/
#social {
	float: right;
	margin: -5px 0px 0 0;
	width: 132px;
}

.social-icon {
	width: 31px;
	height: 20px;
	background: url("../img/social-icons.png") no-repeat;
	display: inline-block;
}

.twitter {
	background-position: 0 0;
}

.facebook {
	background-position: -31px 0;
}

.flickr {
	background-position: -62px 0;
}

.youtube {
	background-position: -93px 0;
}

/*Media-queries*/
@media screen and (max-width: 960px) {
	#wrapper {
		width: 85%;
	} 
}

@media screen and (max-width: 781px) {
	#hello, #tagline {
		font-size: 36px;
	}

	.first-col, .second-col, .third-col, .fourth-col {
		width: 33.3%;
	}

	.clear {
		clear: none;
	}
}

@media screen and (max-width: 704px) {
	#hello, #tagline {
		font-size: 32px;
	}
}

@media screen and (max-width: 676px) {
	.list, #about-me {
		font-size: 12px;
	}
}

@media screen and (max-width: 636px) {
	#my-photo {
		width: 90px;
	}	
}

@media screen and (max-width: 627px) {
	#tagline {
		margin: 0 16%;
	}
}

@media screen and (max-width: 575px) {
	#hello, #tagline {
		font-size: 28px;
	}

	#tagline {
		margin: 0 14%;
	}

	#my-photo {
		width: 70px;
	}

	#info-about-me > .row > .col-right > .inner > .row > .col {
		width: 100%;
	}

	#info-about-me > .row > .col-right > .inner > .row > .col-left {
		margin-bottom: 10px;
	}

	#info-about-me > .row > .col-right > .inner > .row > .col-right > .inner {
		margin-left: 0;
	}
}

@media screen and (max-width: 480px) {
	#logo {
		margin: 0 auto;
	}

	#logo:after {
		display: block;
		content: '';
		clear: both;
	}

	#header-navigation {
		margin-top: 15px;
		margin-left: 25%;
		clear: both;
		float: none;
	}
	
	#hello, #tagline {
		font-size: 26px;
	}

	#tagline {
		margin: 0 12%;
	}

	#greeting {
		margin-top: 60px;
		margin-bottom: 60px;
	}

	#info-about-me > .row > .col, #say-hi, #other-info {
		width: 100%;
	}

	#info-about-me > .row > .col-left, #say-hi > .inner {
		margin-bottom: 10px;
	}

	#info-about-me > .row > .col-right > .inner, #other-info > .inner {
		margin-left: 0;
	}

	.first-col, .second-col, .third-col, .fourth-col {
		width: 50%;
	}
}

@media screen and (max-width: 440px) {
	#header-navigation {
		margin-left: 23%;
	}
}

@media screen and (max-width: 422px) {
	#tagline {
		margin: 0 9%;
	}
}

@media screen and (max-width: 400px) {
	#header-navigation {
		margin-left: 20%;
	}
}

@media screen and (max-width: 393px) {
	#hello, #tagline {
		font-size: 24px;
	}
}

@media screen and (max-width: 380px) {
	#header-navigation {
		margin-left: 18%;
	}

	#tagline {
		margin: 0 7%;
	}
}

@media screen and (max-width: 360px) {
	#header-navigation {
		margin-left: 16%;
	}

	#hello, #tagline {
		font-size: 22px;
	}
}

@media screen and (max-width: 350px) {
	#header-navigation {
		margin-left: 15%;
	}
}